function copy.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function copy.copy_array 2
push argument 1
call Array.new 1
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push argument 1
lt
not
if-goto WHILE_END0
push local 1
push local 0
add
push local 1
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
return
