function random.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
call random.abs 1
pop this 0
push constant 1
neg
pop this 2
push pointer 0
return
function random.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function random.abs 0
push argument 0
push argument 0
neg
call Math.max 2
return
function random.set_x 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function random.set_y 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function random.get_x 1
push argument 0
pop pointer 0
push this 2
pop local 0
push local 0
return
function random.get_y 0
push argument 0
pop pointer 0
push this 3
return
function random.increment_times_called 0
push argument 0
pop pointer 0
push this 1
push constant 100
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 1
add
pop this 1
label IF_FALSE0
push this 1
push constant 100
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 7
add
call random.abs 1
pop this 0
push constant 0
pop this 1
label IF_FALSE1
push constant 0
return
function random.get_random 1
push argument 0
pop pointer 0
push constant 13
push this 0
call Math.multiply 2
push constant 7
add
call random.abs 1
pop this 0
push this 0
pop local 0
label WHILE_EXP0
push local 0
push argument 1
gt
not
if-goto WHILE_END0
push local 0
push argument 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call random.increment_times_called 1
pop temp 0
push local 0
return
function random.random_x 0
push argument 0
pop pointer 0
push pointer 0
push constant 9
call random.get_random 2
return
function random.random_y 0
push argument 0
pop pointer 0
push pointer 0
push constant 9
call random.get_random 2
return
function random.random_direction 0
push argument 0
pop pointer 0
push pointer 0
push constant 3
call random.get_random 2
return
